<div class="user-form">
<div class="col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>
      <div>
        <%= f.text_field :username, placeholder: "username" %>
      </div>

      <div>
        <%= f.text_field :email, placeholder: "email" %>
      </div>

      <div>
        <%= f.text_field :current_city, placeholder: "where you from?" %>
      </div>

      <div>
        <%= f.password_field :password, placeholder: "password" %>
      </div>
      <div>
        <%= f.submit "Sign Up!" %>
      </div>
    <% end %>
</div>
