
<h2>Cities you've visted</h2><br>

<h2>Welcome To Destinations Page</h2>
<div class = "cityCount">
<<<<<<< HEAD

There are currently <%= @cities.length %> on our list!
=======
There are currently <%= @cities.length %>, destinations on our list!
</div>
>>>>>>> ee256b8aa044b257760eaa775c09b0f7437b62a0
<% @cities.each do |city| %>
    <h3> <%= city.city_name %> </h3>
    <h4> <%= city.country %> </h4>
    <% if current_user %>
      <%= button_to "Add review", reviews_path(city) %>
    <% end %>
  <br>
<% end %>
