
<div class="reviewNew">
  <%= form_for @review do |r| %>
    <div>
      <%= r.text_field :city_name %>
    </div>
    <div>
      <%= r.text_field :country %>
    </div>
    <div>
      <%= r.number_field :rating %>
    </div>
    <div>
      <%= r.text_field :description %>
    </div>
    <%= r.submit %>
  <% end %>
</div>
