
<h1>See a review</h1>
<div class="reviewShow">
  Welcome,  <%= @review.username %><hr>
            <%= @review.city_name %>
            <%= @review.rating %>
            <%= @review.description %>
        </div>
            <%= button_to "Delete Review", reviews.destroy(reviews_params), method: :delete %>
            <% end %>
        </div>
</div>
