<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- application stylesheet -->
  <%= stylesheet_link_tag :application, media: :all %>

  <title>VagaBond</title>
</head>
<body>
  <div class = "linkText" >
    <p> <%= link_to "VAGABOND", "/" %> </p>
    <ul>
      <% if current_user %>
      <li> Hello, <%= current_user.username %> </li>
      <li><%= link_to "Cities Visited", user_cities_path(current_user) %></li>
      <li><%= link_to "Profile", user_path(current_user) %></li>
      <li><%= link_to "Log Out", logout_path %></li>
      <% else %>
      <li><%= link_to "Destinations", cities_path %> </li>
      <li><%= link_to "Sign Up", new_user_path %></li>
      <li><%= link_to "Log In", login_path %></li>
      <% end %>
    </ul>
  </div>

<%= yield %>


<% flash.each do |name, msg| %>
  <p>
    <small><%= name.capitalize %>: <%= msg %> </small>
  </p>
<% end %>

  <!-- application javascript file -->
<%= javascript_include_tag :application %>
</body>
</html>
