<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- application stylesheet -->
  <%= stylesheet_link_tag :application, media: :all %>

  <title>VagaBond</title>
</head>
<div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <p class="navbar-brand"> <%= link_to "Vagabond", "/" %> </p>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li> <%= link_to "Sign up", "/users/new" %> </li>
                <li><a href="#about">Reviews</a></li>
                <li><a href="#contact">About</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
<%= yield %>



  <!-- application javascript file -->
<%= javascript_include_tag :application %>
</body>
</html>
