<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- application stylesheet -->
  <%= stylesheet_link_tag :application, media: :all %>

  <title>VagaBond</title>
</head>
<body>
  <p> <%= link_to "Vagabond", "/" %> </p>
  <ul>
    <% if current_user %>
      <li> <%= link_to "Reviews", "/users/:user_id/cities" %> </li>
      <li><%= link_to "Profile", user_path(current_user) %></li>
      <li><%= link_to "Log Out", logout_path %></li>
    <% else %>
      <li><%= link_to "Create Account", new_user_path %></li>
      <li><%= link_to "Log In", login_path %></li>
    <% end %>
  </ul>

<%= yield %>


<% flash.each do |name, msg| %>
  <p>
    <small><%= name.capitalize %>: <%= msg %> </small>
  </p>
<% end %>

  <!-- application javascript file -->
<%= javascript_include_tag :application %>
</body>
</html>
